$white: #FFFFFF;
$black: #000000;
//$gray: #d4d4d4;
$gray: #999999;
$overlay-color: #2c2d33;
$green: #72cc96;
$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;
$icon-color: #981ceb;

$base-font: "BROWNIE", sans-serif;
$code-font: "LiberationMonoRegular",monospace;
// break point
$small: 750px;