@import "variables";
@import "reset";
@import "base";
@import "site";
@import "utilities";
@import "syntax";
@import "vendor/fonts";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";


//modified original
.page-link {
  text-decoration: none !important;
}

.post-content {
	color: $gray;
	a {
		color: $icon-color;
  		text-decoration: none;
	}
	span {
		font-family: fantasy;
	}
	ul {
		list-style-type: square;
		list-style-position: inside;
	}
	li {
		font-size: 14px;
		padding: 10px 0 0 20px;
		color: $black;
	}
}

.footer-col {
	float: none;
}
.footer-col-1 {
	width: auto;
	font-size: 11px;
	color: #424242;
}
.footer-col-2 {
	ul {
		display: flex;
		list-style:none;
	}
}

.fa {
	font-size: 20px;
}

.site-footer {
	padding: 0 16px;
}